*{
    margin: 0;
    padding: 0;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}
body {
    height: 100vh;
    width: 100vw;
    /* background-image: url("./Component/background.jpg"); */
    background-size: cover;
    overflow: hidden;
    color: white;
}
.cover {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: black;
    opacity: 0.6;
    position: absolute;
    top: 0;
    z-index: -1;
}
.content{
    position: relative;
    z-index: +1;
    height: 100vh;
    width: 100vw;
}
nav.navbar {
    height: 7em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid white ;
}
.brand {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}
.image-logo{
    height: 80%;
}
.brandName{
    font-family: "Caveat";
    font-weight: bolder;
}

.setting {
    transform: scale(1.5);
    animation: rotateSetting 2s linear infinite ;
}
@keyframes rotateSetting {
    0%{
        transform: scale(1.5) rotate(0deg);
    }
    50%{
        transform: scale(1.8) rotate(180deg);
    }
    100%{
        transform: scale(1.5) rotate(360deg);
    }
}
.lower{
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.left {
    height: 85%;
    width: 25%;
    border: 1px solid white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.dashboard {
    font-size: xx-large;
    height: 10%;
    width: 70%;
}
.content_list {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    width: 70%;
}
.createNew {
    font-size: larger;
    width: 70%;
    height: 10%;
    display: flex;
    align-items: center;
}
.greet {
    font-size: larger;
    width: 70%;
    height: 10%;
    display: flex;
    align-items: center;
}
#rotate{
    animation: rotateIcon 2s linear infinite ;
}
@keyframes rotateIcon {
    0%{
        transform:rotate(0deg);
    }
    50%{
        transform:rotate(180deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
.content_item{
    cursor: pointer;
    width: 50%;
    padding: 0.5em;
}
.content_item:hover{
    text-shadow: 0 0 5px white;
}
.icon{
    margin-right: 1em;
}
section.right {
    height: 85%;
    width: 70%;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.borderLine {
    height: 2px;
    width: 72%;
    background: white;
    margin: -1em 0em;
}
.heading {
    font-size: larger;
}
.previousDocs {
    align-items: center;
    height: 80%;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow-y: scroll;
}
.previous {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    width: 90%;
    font-size: larger;
}
.Docs {
    height: 35%;
    width: 13%;
    border: 2px solid white;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.Docs:hover{
    box-shadow: 0 0 10px white , inset 0 0 10px white;
}
.coverPage {
    background: white;
    height: 80%;
    width: 100%;
    border-radius: 5px;
}
.title {
    text-align: center;
}
.previousDocs::-webkit-scrollbar {
    display: none;
}
.arrows {
    position: absolute;
    right: 3.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7em;
    flex-direction: column;
}
.arrowUp, .arrowDown {
    border-radius: 50%;
    border: 2px solid white;
    height: 2em;
    width: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: border-box;
}
.deleteDoc {
    height: 0;
    color: red;
    z-index: 1;
    position: relative;
    left: 3em;
    top: 0.5em;
    display: none;
}
.showDelete{
    display: block;
}