*{
    margin: 0;
    padding: 0;
    font-family: "Istok Web", serif;
}

html , body{
    overflow-x: hidden;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ChooseStyleDivBackground {
    height: 100vh;
    width: 100vw;
    background-image: url("./Files/background.png");
    background-repeat: repeat;
    background-size: 10%;
    backdrop-filter: opacity(0);
}
.backgroundImageLowerOpacity {
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    justify-content: end;
}

section.section1 {
    height: 100%;
    width: 65%;
    background: #3F221B;
    color: white;
    border-radius: 1000em 0 0 1000em;
    animation: animateSectionBackground 1s ease-in-out 1;
}
section.section2 {
    height: 100%;
    width: 35%;
    flex-direction: column;
    justify-content: space-between;
    animation: animateSectionBackground 1s ease-in-out 1;
}

.heading.flex {
    height: 25%;
}
.buttonDiv.flex {
    height: 75%;
}

button.go-on {
    border: none;
    outline: none;
    height: 10em;
    width: 20em;
    border-radius: 100em;
    color: white;
    background: #3f221b;
    animation: buttonAnimation 1.5s ease-in-out  1;
}
span.text {
    font-size: x-large;
    font-weight: bold;
}

.hard {
    opacity: 1;
}
.medium{
    opacity: 0.75;
}
.light{
    opacity: 0.5;
}


h1 {
    text-align: center;
    width: 75%;
    padding: 1em;
    font-size: xx-large;
    margin-left: 5em;
    animation: HideSomething 2s ease-in-out  1  ;
}
h2{
    text-shadow: 0 4px 4px #00000025;
    animation: HideSomething 2s ease-in-out  1  ;
}
.mainContent {
    height: 80%;
    width: 90%;
    justify-content: space-evenly;
    margin-left: 5em;
}
.left {
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}

.box.style {
    height: 12em;
    background-color: #FEF9E1;
    color: black;
    width: 20em;
    border-radius: 2em;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0.5em 0em;
}

.boxContent.flex {
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
    width: 100%;
}

i.fa-solid.fa-circle {
    font-size: x-small;
}
.option {
    font-weight: bolder;
    border-radius: 10em;
    width: 80%;
    height: 20%;
    justify-content: start;
    padding-left: 0.5em;
}

.option:hover{
    background-color: #e78d75;
    cursor: pointer;
    box-shadow: 0 4px 4px #00000080;
}

span.OptionText {
    text-align: center;
    width: 90%;
}

a{
    text-decoration: none;
    color: black;
}

#box1{
    animation: AnimateBoxes 2.0s ease-in-out 1;
}
#box2{
    animation: AnimateBoxes 2.2s ease-in-out 1;
}
#box3{
    animation: AnimateBoxes 2.4s ease-in-out 1;
}

@keyframes animateSectionBackground {
    0% {
        opacity: 0;
        width: 0;
    }
}
@keyframes HideSomething {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
}
@keyframes AnimateBoxes {
    0%{
        opacity: 0;
        translate: -1em;
    }
    50%{
        opacity: 0;
        translate: -1em;
        transform: skewX(5deg);
    }
    75%{
        translate: 1em;
        transform: skewX(-5deg);
    }
}

@keyframes buttonAnimation {
    50%{
        opacity: 0;
        width: 0;
        height: 0;
    }
}

.checkbox{
    display: none;;
}

.option:has( input:checked ){
    background-color: #E07A5F;
    cursor: pointer;
    box-shadow: 4px 4px 4px #00000080;
}
label {
    margin-left: 0.5em;
    width: 100%;
}

