*{
    margin:0;
    padding:0;
    font-family: 'Kanit', sans-serif;
    
}

@keyframes blurry {
    0%{
        filter: blur(6px);
    }
    100%{
        filter: blur(0px);
    }
}
body {
    animation: blurry 1s ease-in-out 1;
    background-color: #e7e7e7;
    max-width: 81.5em;
}
.logo {
    background-image: url(images/log.png);
    height: 4em;
    width: 4.5em;
    background-size: cover;
    filter: drop-shadow(0px 0px 5px white);
}
.header {
    background-color: black;
    color: white;
    display: flex;
    height: 5vw;
    align-items: center;
    justify-content: space-around;
}
.nav-item {
    font-size: 1.4vmax;
    text-shadow: 0 0 12px white;
    border-radius: 5px;
    padding: 6px 12px;
}
span,#login-link{
    text-align: center;
    /* padding: 7px 9px; */
    width: fit-content;
    border-radius: 8px;
}
#login-link {
    text-decoration: none;
    color: white;
}
#shop , #contact {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 64px;
}
.drop {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 10.2vmax;
    align-items: center;
    height: 10.2vmax;
    position: relative;
    top: 13px;
    right: 20px;
}
#shop{
    display: flex;
    flex-direction: column;
}
.div {
    height: 127px;
    /* width: 109px; */
}
#drop1{
    display: none;
}
#drop2{
    display: none;
}
#shop:hover #drop1{
    display: block;
    display: flex;
    animation: height-drop 1.5s ease-in-out  1  ;
}
#contact:hover #drop2{
    display: block;
    display: flex;
    animation: height-drop 1.5s ease-in-out  1  ;
}
#border-cancel{
    border-bottom: 0px;
}
@keyframes height-drop {
    0%{
        height:0px;
        width: 0;
    }
    25%{
        height:11.5vmax;
        width:11.5vmax;
    }
    50%{
        height:9vmax;
        width:9vmax;
    }
    75%{
        height:11vmax;
        width: 11vmax;
    }
    100%{
        height:10.2vmax;
        width: 10.2vmax;
    }
}
.visible {
    animation: visible-text 0.5s ease-in-out 1;
    margin: 6px;
}
@keyframes visible-text {
    0%{
        opacity: 0;
    }
    95%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.bg-content {
    background-image: url(images/bg.jpg);
    background-size: contain;
    max-height: 50vw;
}

#star {
    /* transform: scale(2.5); */
    position: absolute;
    right: 24%;
    top: 40%;
    filter: drop-shadow(0px 0px 2px black);
    animation: star 5s ease-in-out infinite;
    font-size: 1vmax;
}
@keyframes star {
    
    0% {
        transform: scale(2.5) translate(0,0) rotate(0deg);
    }
    33.3% {
        transform: scale(2.5) translate(8vw,7vw) rotate(360deg);
    }
    66.6% {
        transform: scale(2.5) translate(8vw,-3vw) rotate(720deg);
    }
    99.9% {
        transform: scale(2.5) translate(0,0) rotate(1080deg);
    }
}
.text1, .text2, .text3 {
    display: flex;
    position: relative;
    left: 9%;
    top: 4vw;
    text-shadow: black 0px 0px 18px;
    opacity: 1;
    width: fit-content;
    font-size: 2vmax;
    transition-duration: 0.3s;
    letter-spacing: 18px;
    margin-top: 9px;
}
.text1:hover, .text2:hover, .text3:hover {
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    font-size: 2.5vw;
}
.circle {
    color: white;
    filter: drop-shadow(0px 0px 6px white);
    transform: translate(-41px,117px);
    margin: 30px;
    width: fit-content;
    font-size: 1vw;
}
#circle1{
    animation: blast 5s ease-in-out 2s 1 ;
} 
#circle2{
    animation: blast 5s ease-in-out 3s 1 ;
}
#circle3{
    animation: blast 5s ease-in-out 4s 1 ;
}
.text1{
    animation: visible 7.3s ease-in-out  1 ;
}
.text2{
    animation: visible 8.3s ease-in-out  1 ;
}
.text3{
    animation: visible 9.3s ease-in-out  1 ;
}
.triangle {
    width: 0;
    height: 0;
    border-left: 9vmax solid transparent;
    border-right: 9vmax solid transparent;
    border-bottom: 16vmax solid;
    position: relative;
    left: 8%;
    animation: visible 7s ease-in-out 1;
    top: -6%;
}
div#circle {
    position: absolute;
    top: -22px;
    color: white;
    left: 16.8%;
    animation: main-circle 2s ease-in-out 10s 1;
    font-size: 1vw;
}
@keyframes main-circle {
    0% {
        transform: translate(10%,-15%);
    }
    100% {
        transform: translate(0vh,40vw);
    }
}
@keyframes blast {
    0%{
        transform: translate(-41px,117px);
    }
    50%{
        transform: translate(431px,117px);
    }
    100%{
        transform: translate(190px,-103px);
    }
}









@keyframes visible {
    0%{
        opacity: 0;
    }
    95%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes shadow {
    0%{
        text-shadow: 0 0 5px white;
    }
    50%{
        text-shadow: 0 0 15px white;
    }
    100%{
        text-shadow: 0 0 10px white;
    }
}
.head {
    font-weight: 600;
    color: white;
    text-shadow: 0 0 10px white;
    position: relative;
    bottom: 5.5vw;
    left: 11%;
    width: fit-content;
    animation: visible 12.5s ease-in-out 1;
    animation-name: visible, shadow;
    animation-duration: 12.5s,1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1,infinite;
    font-size: 1.5vmax;
}
.l {
    position: relative;
    left: 41px;
    animation: l-animate 2s ease-in-out 12.5s 1  ;
    top: -7px;
    
}
.f{
    animation: f-animate 2s ease-in-out 12.5s 1  ;
}
@keyframes f-animate {
    0%{
        transform: translate(0px,0px);
    }
    50%{
        transform: translate(50px,0px);
    }
    90%{
        transform: translate(10px,0px);
    }
    100%{
        transform: translate(0px,0px);
    }
}
@keyframes l-animate {
    0%{
        transform: translate(0px,0px);
    }
    50%{
        transform: translate(-50px,0px);
    }
    90%{
        transform: translate(-10px,0px);
    }
    100%{
        transform: translate(0px,0px);
    }
}
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

i#star-rotate1 {
    position: relative;
    top: 118px;
    left: 93px;
    transform: scale(1.5);
    animation: star-rotate 1s ease-in-out  infinite;
}
i#star-rotate2 {
    position: relative;
    top: -139px;
    left: 93px;
    transform: scale(1.5);
    animation: star-rotate 1s ease-in-out  infinite;
}
i#star-rotate3 {
    position: relative;
    top: 86px;
    left: -93px;
    transform: scale(1.5);
    animation: star-rotate 1s ease-in-out  infinite;
}
i#star-rotate4 {
    position: relative;
    top: -171px;
    left: -93px;
    transform: scale(1.5);
    animation: star-rotate 1s ease-in-out  infinite;
}

@keyframes star-rotate {
    0%{
        transform: scale(1.5) rotate(0deg);
    }
    50%{
        transform: scale(1.5) rotate(180deg);
        color: #c15800;
    }
    100%{
        transform: scale(1.5) rotate(360deg);
    }
}
@keyframes colorAnimate {
    0%{
        color: #1c7a75;
    }
    50%{
        color: #c15800;
    }
    100%{
        color: #1c7a75;
    }
}
.login-box {
    height: 8vw;
    margin: 5px 8px;
    background-color: #272829;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
button {
    /* height: 29px; */
    /* width: 12vw; */
    border: none;
    border-radius: 4px;
    background-color: #ffb600;
    color: black;
    font-size: 1.5vw;
    padding: 1vw;
}
button:hover{
    background-color: #d99b00;
}
.down {
    background-color: #101111;
    color: white;
    padding-left: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.5vw;
}
.span2 {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    height: 17vw;
    margin-top: 3vw;
}
.span3 {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}
select {
    width: 67px;
    height: 26px;
}
select:focus-visible{
    outline:none;
}
.grid {
    border: none;
    text-shadow: none;
}
.grid:hover{
    color: #ff7400;
}
a#signin-link {
    border: none;
    color: white;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: white
}
.hover:hover {
    text-decoration: underline 1px;
    color: #2196F3;
}
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.Details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 13px 2px;
}
body{
    background-color: black;
}
.create {
    background-color: white;
    height: 20vw;
    width: 19vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
    color: black;
    font-size: 1.5vw;
}
.image {
    max-height: 10vw;
    max-width: 15vw;
    /* min-width: 3rem; */
    /* min-height: 0rem; */
}
.main-box {
    height: 82%;
    width: 94%;
    border-radius: 300px;
    background-image: linear-gradient(45deg ,#fff 20%,#ffb600 100% );
    margin: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    top: 65vw;
    left: 3vw;
    color: #101e4a;
}
img.main-bimg {
    max-height: 11em;
    max-width: 15em;
}
.main-product {
    border-bottom: 1px solid #101e4a;
    padding-bottom: 0px;
}
.main-bdescription {
    max-width: 21em;
    margin: 15px 0px;
}
.cancel {
    position: absolute;
    left: 70%;
    width: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2vw;
    border-radius: 6px;
    /* transform: scale(1.3); */
    top: 5%;
    font-size: 1.5vw;
}
sup{
    margin-left: 3px;
    position: relative;
    bottom: 5px;
}
.cancel:hover{
    background-color: white;
}
#anchor{
    border: none;
}
#buy {
    height: 3.5vw;
    width: 10vw;
    border: none;
    border-radius: 4px;
    background-color: #101e4a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#buy:hover{
    background-color: #fff;
    color: #101e4a;
}
/* ////////////////////// */
.cartBox {
    background-color: #fff;
    position: absolute;
    top: 2%;
    right: 5%;
    width: 38vw;
    height: 25vw;
    display: flex;
    overflow: hidden;
    border-radius: 15px;
    padding-bottom: 1em;
}

.main {
    position: absolute;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    height: 88%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    z-index: 0;
    transition-duration: 1s;
    font-size: 1.5vw;
}
#mainIMG{
    max-height: 8em;
    max-width: 8em;
}
.mainPRICE{
    font-weight: 900;
}
.lower{
    display: flex;
    justify-content: space-around;
    width: 24em;
}
.mainBTN1{
    color: white;
    background-color: rgb(255, 73, 73);
}
.mainBTN1:hover{
    background-color: rgb(255, 73, 73);
}
.mainBTN2{
    color: white;
    background-color: #2196F3;
}
.mainBTN2:hover{
    background-color: #004c8b;
}

.slideBTNS {
    display: flex;
    justify-content: space-evenly;
    width: 29.5em;
    height: 17vw;
}
.slideBtn1, .slideBtn2 {
    width: 3em;
    background-color: transparent;
    align-items: end;
    /* margin: 35vw -3vw 0 0; */
    position: relative;
    top: 90%;
    left: 3%;
    font-size: 1.5vw;
    margin-top: 2%;
}
.slideBtn1:hover , .slideBtn2:hover{
    background-color: transparent;
}
.cross {
    transform: scale(1.5);
    width: fit-content;
    height: fit-content;
    position: relative;
    top: 17px;
    left: -13px;
    z-index: 1;
    animation: visible-text 2.1s ease-in-out 1 ;
}
.kya {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #212121;
    position: relative;
    font-size: 3vw;
}
#fonty {
    font-size: 1.3vw;
    /* height: 2vw; */
    height: 3vw;
    padding: 0;
}
@media 
(max-width : 800px) {
    .triangle{
        display: none;
    }
    /* .circle{
        display: none;
    } */
    #star {
        /* transform: scale(2.5); */
        position: absolute;
        right: 24%;
        top: 22%;
        filter: drop-shadow(0px 0px 2px black);
        animation: star 5s ease-in-out infinite;
        font-size: 1vmax;
    }
    @keyframes height-drop {
        0%{
            height:0px;
            width: 0;
        }
        25%{
            height:11.5vmax;
            width:11.5vmax;
        }
        50%{
            height:9vmax;
            width:9vmax;
        }
        75%{
            height:11vmax;
            width: 11vmax;
        }
        100%{
            height:12.2vmax;
            width: 12.2vmax;
        }
    }
    .drop {
        display: flex;
        flex-direction: column;
        background-color: black;
        width: 10.2vmax;
        align-items: center;
        height: 12.2vmax;
        position: relative;
        top: 13px;
        right: 20px;
    }
    .header {
    background-color: black;
    color: white;
    display: flex;
    height: 1vw;
    align-items: center;
    justify-content: space-around;
    margin-top: 2vw;
}
.create {
    background-color: white;
    height: 17vw 
;
    width: 19vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
    color: black;
    font-size: 1.5vw;
}
.main-bimg {
    height: 11vw;
}
.main-box {
    height: 46%;
    width: 72%;
    border-radius: 4vw;
    background-image: linear-gradient(45deg ,#fff 20%,#ffb600 100% );
    margin: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    top: 61vw;
    left: 14vw;
    color: #101e4a;
}
.main-bdescription {
    max-width: 31vw;
    margin: 0px 0px;
    font-size: 1.9vw;
}
.main-bprice {
    font-weight: 900;
    font-size: 2vw;
}
#buy {
    height: fit-content;
    border: none;
    border-radius: 4px;
    background-color: #101e4a;
    color: white;
    width: fit-content;
}
.text1, .text2, .text3 {
    display: flex;
    position: relative;
    left: 9%;
    top: 4vw;
    text-shadow: black 0px 0px 18px;
    opacity: 1;
    width: fit-content;
    font-size: 2vmax;
    transition-duration: 0.3s;
    letter-spacing: 5px;
    margin-top: 9px;
}
.circle{
    display: none;
}
.bg-content {
    background-image: url(images/bg.jpg);
    background-size: contain;
    max-height: 50vw;
    height: 50vw;
}
.head {
    font-weight: 600;
    color: white;
    text-shadow: 0 0 10px white;
    position: relative;
    bottom: -23.5vw;
    left: 8%;
    width: fit-content;
    animation: visible 12.5s ease-in-out 1;
    animation-name: visible, shadow;
    animation-duration: 12.5s,1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1,infinite;
    font-size: 1.5vmax;
}
.image {
    max-height: 7vw;
    max-width: 10vw;
    /* min-width: 3rem; */
    /* min-height: 0rem; */
}
.main-product {
    border-bottom: 1px solid #101e4a;
    padding-bottom: 0px;
    font-size: 2vw;
}
.cancel {
    position: absolute;
    left: 70%;
    width: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vw;
    border-radius: 6px;
    /* transform: scale(1.3); */
    top: 5%;
    font-size: 1.5vw;
}
.mainBTN {
    font-size: 1vw;
    height: fit-content;
    width: fit-content;
}
.slideBTNS {
    display: flex;
    justify-content: space-evenly;
    width: 21.5em;
    height: 18vw;
}
.cross {
    transform: scale(1);
    width: fit-content;
    height: fit-content;
    position: relative;
    top: 6%;
    left: -10%;
    z-index: 1;
    animation: visible-text 2.1s ease-in-out 1;
    font-size: 2vw;
}
.drop {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 10.2vmax;
    align-items: center;
    height: 12.2vmax;
    position: relative;
    top: 4%;
    right: 20%;
}
}
.fonty {
    width: 6vw;
}